*{
    text-align: center;
    font-family: monospace;
}
body{
    background-color: rgb(55, 55, 75);
}
h1{
    background-color: rgb(2, 247, 76);
    color: brown;
    text-align: right;
    padding: 5px;
    font: size 25px;
    border: radius 10px; ;
}
input{
    background-color: rgb(240, 240, 255);
    border-radius: 10px;
    width: 90%;
    font-size: 17px;
    margin: 2px;
}
.userinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background-color: rgb(120, 150, 246);
    color: blanchedalmond;
    border-radius: 10px;
    font-size: 15px;
    margin: 2px;
    width: 90%;
}
.userbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 6px;
    display: grid;
    grid-template-columns:2fr 1fr ;
}
.calca{
    max-width: 400px;
    margin: auto;
}